@font-face{
  font-family: 'Old';
  src: url('../../font/old/OldStandardTT-Regular.ttf');
}
@font-face{
  font-family: 'Arapey';
  src: url('../../font/Arapey/Arapey-Regular.ttf');
}
@font-face{
  font-family: 'Montserrat';
  src: url('../../font/Montserrat/static/Montserrat-Regular.ttf');
}
.product-view-title{
  font-family: 'Old';
}

.filter-dropdown:nth-child(1){
  font-family: 'Old';
  font-size: 14px;
}
.filter-dropdown #sortBy{
  font-family: 'Arapey';
  font-size: 20px;
  border: none;
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
}
.product-view-category{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: small;
  list-style-type: none;
  

}
@media screen and (min-width: 575px) {
  .product-view-category{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
/*product view*/
.product-view{
  border: none;
}
.product-view-section{
  display: grid;
  grid-template-rows: repeat(9, 230px);
  padding: 10px;
  gap: 10px;
}
.product-view{
  box-shadow: 2px 2px 8px grey;
  border-radius: 5px;
  transition: .5s;
}
.product-view:hover{
  transform: scale(1.1);
  transition: .5s;
}
@media screen and (min-width: 575px) {
  .product-view-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 160px);
    padding: 10px;
    gap: 10px;
    max-width: 990px;
    margin: 0 auto;
    
  }
  .product-view:nth-child(1){
    grid-row: span 2;
    background-color: blue;
  }
  .product-view:nth-child(5){
    grid-row: span 2;
    background-color: rgb(134, 32, 117);
  }
  .product-view:nth-child(7){
    grid-row: span 2;
    background-color: rgb(27, 160, 34);
  }
  .product-view{
    box-shadow: 2px 2px 8px grey;
    border-radius: 5px;
  }
}