#sidebar-dashboard{
    background-color: #7258DB;
    border-radius: 5px;
    box-shadow: 3px 3px 8px grey;
}
.sidebar-list-menu{
    list-style-type: none;
    left: -20px;
    position: relative;
}
.sidebar-list-menu .sidebar-menu{
    gap: 10px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    
}
.sidebar-list-menu .sidebar-menu a{
    text-decoration: none;
    color: white;
}
.sidebar-list-menu .sidebar-menu ul{
    list-style-type: none;
}
.active{
    color: #d9db58 !important;
}
.actives{
    background-color: #4f2b64;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    border: none;
}